/*----------HEADER--------*/
header {
  width: 100%;
  height: 15vh;
  /*  background: linear-gradient(to bottom,
            rgba(247, 143, 119, 0.6),
            rgba(29, 241, 171, .6),
            rgba(7, 109, 150, .45)), url(../media/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */
  background-color: #f9e9e9;
}

.navegador {
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 143, 119, 0.6)), color-stop(rgba(29, 241, 171, 0.6)), to(rgba(7, 109, 150, 0.45))), url(../media/fondo3.jpg);
  background: linear-gradient(to bottom, rgba(247, 143, 119, 0.6), rgba(29, 241, 171, 0.6), rgba(7, 109, 150, 0.45)), url(../media/fondo3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.navbar-brand img {
  height: 5rem;
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    height: 6rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-brand img {
    height: 4rem;
  }
}

.navbar-brand:hover {
  -webkit-transform: rotateZ(5deg);
          transform: rotateZ(5deg);
}

.navbar-light .navbar-nav .nav-link {
  color: #182163;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: aqua;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.barraMenu {
  background-color: rgba(220, 136, 144, 0.571);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.barraMenu li {
  position: relative;
}

.barraMenu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 10rem;
}

@media screen and (max-width: 768px) {
  .barraMenu li .nav-link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .barraMenu li .nav-link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 10px;
  }
}

/*------------FOOTER------------------*/
footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 169, 140, 0.503)), color-stop(rgba(149, 247, 214, 0.475)), to(rgba(32, 147, 193, 0.338))), url(../media/fondo.jpg);
  background: linear-gradient(to bottom, rgba(188, 169, 140, 0.503), rgba(149, 247, 214, 0.475), rgba(32, 147, 193, 0.338)), url(../media/fondo.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  height: 36vh;
}

@media screen and (max-width: 768px) {
  footer {
    height: 100%;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: tomato 2px solid;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 100%;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: tomato 2px solid;
  }
}

.grillaFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 1.3fr 1fr;
      grid-template-columns: 0.7fr 1.3fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "direc iconos sec";
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .grillaFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.grillaFooter__direc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: direc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grillaFooter__direc i {
  font-size: 1.4rem;
  text-align: center;
  color: #182163;
}

@media screen and (max-width: 768px) {
  .grillaFooter__direc i {
    font-size: 1.5rem;
  }
}

.grillaFooter__direc i p {
  color: #e11515;
  font-family: 'Play', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .grillaFooter__direc i p {
    font-size: 1rem;
  }
}

.grillaFooter__iconos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: iconos;
  margin-left: 80px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos {
    margin: 0;
  }
}

.grillaFooter__iconos img {
  height: 6rem;
  padding-left: 180px;
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos img {
    height: 6rem;
    padding-left: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos img {
    height: 5rem;
    padding: 0 0 0 20px;
    margin: 10px 0;
  }
}

.grillaFooter__iconos .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos .socialMedia {
    margin-right: 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos .socialMedia {
    margin-right: 50px;
  }
}

.grillaFooter__iconos .socialMedia__socialIcono {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #e11515;
  border-radius: 30px;
  color: #f25e5e;
  -webkit-animation: scale-in-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s 1 both;
          animation: scale-in-center 3.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s 1 both;
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos .socialMedia__socialIcono {
    width: 70px;
    height: 70px;
    border-radius: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos .socialMedia__socialIcono {
    width: 55px;
    height: 55px;
    border-radius: 40px;
  }
}

.grillaFooter__iconos .socialMedia__socialIcono:hover {
  background: #c97c7c;
  color: #0606a5;
}

.grillaFooter__iconos .socialMedia__socialIcono i {
  font-size: 2rem;
  line-height: 50px;
  padding-left: 8px;
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos .socialMedia__socialIcono i {
    font-size: 3rem;
    line-height: 65px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos .socialMedia__socialIcono i {
    font-size: 2.5rem;
    line-height: 55px;
    padding-right: 10px;
  }
}

.grillaFooter__iconos .text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos .text {
    padding-right: 150px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos .text {
    padding: 0;
    font-size: 1rem;
  }
}

.grillaFooter__iconos .line {
  width: 100%;
  max-width: 800px;
  margin-left: 20px;
  height: 1px;
  background: tomato;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .grillaFooter__iconos .line {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grillaFooter__iconos .line {
    width: 80%;
    max-width: 300px;
  }
}

.grillaFooter__secciones {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

.grillaFooter__secciones i {
  font-size: 1.4rem;
  margin-top: 15px;
  margin-left: 120px;
  color: #182163;
}

.grillaFooter__secciones a {
  color: #e11515;
  font-weight: bold;
  margin-left: 10px;
  font-size: 1rem;
  font-family: 'Play', sans-serif;
}

.grillaFooter__secciones a:hover {
  color: #182163;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .grillaFooter__secciones {
    display: none;
  }
}

/*-----------PRINCIPAL-----------*/
.hero {
  width: 100%;
  height: 90vh;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 95vh;
  }
}

.contenido__video {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Estilos para la etiqueta "video" con la calse (.video)  */
.video {
  position: absolute;
  max-width: 300%;
  width: 100%;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .video {
    width: 130%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .video {
    width: 300%;
  }
}

.asd {
  display: none;
}

.contenedor-slider {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 80%;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .contenedor-slider {
    margin-top: 10px;
    height: 80vh;
    margin-bottom: 5px;
  }
}

.carousel-item__img {
  width: 90%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.wave {
  height: 80px;
  overflow: hidden;
}

.grilla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 0.2fr;
      grid-template-columns: 1.3fr 0.2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 10px;
      grid-template-areas: ". .";
  padding: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla p {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .grilla {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

.grilla__catalogoPrin {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__catalogoPrin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.grilla__catalogoPrin--img {
  border-radius: 50px;
  margin-right: 30px;
  height: 200px;
  margin-bottom: 50px;
  -webkit-box-shadow: 1px 2px 10px 1px rgba(242, 161, 161, 0.89);
          box-shadow: 1px 2px 10px 1px rgba(242, 161, 161, 0.89);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__catalogoPrin--img {
    width: 100%;
    border-radius: 20px;
  }
}

.grilla__banner {
  border-radius: 10px;
  margin: 5px;
  padding-top: 180px;
  height: 600px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -webkit-animation: color-cambio-2x 2s linear infinite alternate both;
          animation: color-cambio-2x 2s linear infinite alternate both;
}

@media screen and (max-width: 768px) {
  .grilla__banner {
    margin: 5px;
    padding-top: 100px;
    height: 350px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__banner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 400px;
  }
}

.grilla__banner--titulo {
  font-weight: bold;
  text-align: center;
}

.grilla__banner--text {
  font-weight: bold;
  text-align: center;
}

.grilla__banner--img {
  height: 70px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .grilla__banner--img {
    height: 5rem;
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grilla__banner--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: auto;
  }
}

.marcas {
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .marcas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.marcas__img {
  width: 10rem;
  margin-left: 220px;
}

@media screen and (max-width: 768px) {
  .marcas__img {
    margin-left: 80px;
    width: 8rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .marcas__img {
    width: 6rem;
    margin-left: 6rem;
    padding-top: 1rem;
  }
}

.marcas__text {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .marcas__text {
    font-size: 1.3rem;
  }
}

/*--------------SECCION PRODUCTOS--------*/
.btn {
  margin-left: 250px;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.8rem;
    margin-left: 80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .btn {
    font-size: 1rem;
  }
}

#btnradio2:checked ~ .galeria > .lentesSol {
  display: none;
}

#btnradio3:checked ~ .galeria > .lentes {
  display: none;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.galeria__contVideo {
  padding: 10px 0;
  margin-left: 120px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .galeria__contVideo {
    margin-left: 10px;
  }
}

.galeria__contVideo--video {
  padding-right: 50px;
  height: 320px;
  -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
          animation: fade-in-fwd 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .galeria__contVideo--video {
    height: 10rem;
    margin-left: 40px;
  }
}

.lentes {
  position: relative;
  width: 320px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .lentes {
    height: 200px;
  }
}

.lentes:hover {
  -webkit-animation: kenburns-top 0.5s ease-out both;
          animation: kenburns-top 0.5s ease-out both;
}

.lentes:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.lentes img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lentesSol {
  position: relative;
  width: 320px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .lentesSol {
    height: 200px;
  }
}

.lentesSol:hover {
  -webkit-animation: kenburns-top 0.5s ease-out both;
          animation: kenburns-top 0.5s ease-out both;
}

.lentesSol:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.lentesSol img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(65, 1, 58, 0.249);
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.overlay h2 {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 25%;
}

/*-------------SECCION OBRAS SOCIALES--------*/
.tablaObrasoc {
  width: 100%;
  -webkit-box-shadow: 10px 10px 5px #888888;
          box-shadow: 10px 10px 5px #888888;
  border: 1px solid #000000;
  margin-bottom: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.tablaObrasoc ul {
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc ul {
    padding: 0;
  }
}

.tablaObrasoc ul li {
  color: #980469;
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .tablaObrasoc ul li {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc ul li {
    font-size: 1rem;
  }
}

.tablaObrasoc td {
  border: 1px solid #000000;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc td {
    padding-right: 5px;
    margin: 0;
    border: 1px solid black;
    font-size: 0.5rem;
  }
}

.tablaObrasoc__cabecera td {
  border-width: 0px 0px 0px 0px;
  text-align: center;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
          animation: color-change-2x 2s linear infinite alternate both;
}

@media screen and (max-width: 768px) {
  .tablaObrasoc__cabecera td {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc__cabecera td {
    font-size: 1rem;
  }
}

.tablaObrasoc__fila {
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc__fila {
    width: 50px;
  }
}

.tablaObrasoc__fila td {
  color: #182163;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .tablaObrasoc__fila td {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc__fila td {
    font-size: 1rem;
  }
}

.tablaObrasoc__filaAlt {
  background-color: rgba(74, 130, 215, 0.201);
}

.tablaObrasoc__filaAlt td {
  color: #4f0693;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .tablaObrasoc__filaAlt td {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tablaObrasoc__filaAlt td {
    font-size: 1rem;
  }
}

.contenedor_obrasoc {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .contenedor_obrasoc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor_obrasoc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contenedor_obrasoc img {
  width: 200px;
  padding-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 768px) {
  .contenedor_obrasoc img {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contenedor_obrasoc img {
    width: 130px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.banner {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -webkit-animation: color-banNosotros-2x 1s linear infinite alternate both;
          animation: color-banNosotros-2x 1s linear infinite alternate both;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.banner img {
  height: 80px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner img {
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.banner__text {
  font-weight: bold;
  margin-right: 30px;
  padding: 40px 20px 0 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner__text {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
}

.banner .borde {
  border-right: rgba(250, 144, 125, 0.448) solid 3px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner .borde {
    padding: 10px;
    margin: 0;
  }
}

.muestrario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 768px) {
  .muestrario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
}

.muestrario__img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

@media screen and (max-width: 768px) {
  .muestrario__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.muestrario__img2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

@media screen and (max-width: 768px) {
  .muestrario__img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.muestrario__img3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 768px) {
  .muestrario__img3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
}

.muestrario__img4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

@media screen and (max-width: 768px) {
  .muestrario__img4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4 / 2 / 5 / 3;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img4 {
    display: none;
  }
}

.muestrario__img5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
}

@media screen and (max-width: 768px) {
  .muestrario__img5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img5 {
    display: none;
  }
}

.muestrario__img1, .muestrario__img2, .muestrario__img3, .muestrario__img4, .muestrario__img5 {
  width: 400px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  height: 300px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .muestrario__img1, .muestrario__img2, .muestrario__img3, .muestrario__img4, .muestrario__img5 {
    width: 330px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .muestrario__img1, .muestrario__img2, .muestrario__img3, .muestrario__img4, .muestrario__img5 {
    height: 250px;
    width: 140px;
  }
}

.muestrario img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .contacto {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
}

.contacto__form {
  height: 80%;
  padding: 10px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  color: #16168f;
  font-weight: bold;
  width: 700px;
  margin: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contacto__form {
    font-size: 1.3rem;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__form {
    font-size: 1rem;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.contacto__boton {
  border-radius: 20px;
  height: 30px;
  width: 150px;
  margin-right: 10px;
  background: #dbdfd7;
  color: #060639;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__boton {
    margin: 10px 0;
  }
}

.contacto__boton:hover {
  background-color: #ebe4d6;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1rem;
  -webkit-animation: pulsate-btnContacto 0.8s ease-in-out infinite both;
          animation: pulsate-btnContacto 0.8s ease-in-out infinite both;
}

.contacto__ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 10px;
  width: 700px;
  padding: 10px;
}

.contacto__ubicacion h2 {
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__ubicacion {
    width: 100%;
    margin: 20px 0;
  }
}

.contacto__ubicacion--cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 5px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__ubicacion--cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contacto__ubicacion--cont p {
  text-align: center;
  margin-top: 80px;
  font-weight: 800;
  color: #16168f;
  text-shadow: 4px -1px 11px rgba(222, 11, 11, 0.27);
  padding-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__ubicacion--cont p {
    margin-top: 0;
    font-size: 1rem;
    text-align: center;
  }
}

.contacto__ubicacion--cont iframe {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .contacto__ubicacion--cont iframe {
    width: 100%;
  }
}

body {
  font-family: 'Play', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}

body main {
  background-color: #f9e9e9;
  border-bottom: tomato 1px solid;
  padding: 0 40px;
}

@media screen and (max-width: 768px) {
  body main {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body main {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 10px;
  }
}

body h1 {
  text-align: center;
  -webkit-text-decoration: underline rgba(250, 144, 125, 0.605) solid 3px;
          text-decoration: underline rgba(250, 144, 125, 0.605) solid 3px;
  padding-top: 20px;
  font-family: 'Overlock', cursive;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@media screen and (max-width: 768px) {
  body h1 {
    font-size: 2.5rem;
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
            animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
}

body h2 {
  color: #182163;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  body h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body h2 {
    font-size: 1.8rem;
    font-weight: bold;
  }
}

body h3 {
  color: #182163;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  body h3 {
    font-size: 2rem;
    text-decoration: underline;
  }
}

body h4,
body h5 {
  color: #182163;
  padding: 5px 0;
}

body p {
  color: #434d17;
  padding: 10px 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  body p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body p {
    font-size: 1rem;
  }
}

body ul {
  color: #182163;
  font-weight: bold;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  body ul {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  body ul {
    font-size: 1rem;
  }
}

/*------------KEYFRAMES--------------------*/
/*--se usa secc principal--*/
@-webkit-keyframes color-cambio-2x {
  0% {
    background: #f7d3e3;
  }
  100% {
    background: #e39999;
  }
}
@keyframes color-cambio-2x {
  0% {
    background: #f7d3e3;
  }
  100% {
    background: #e39999;
  }
}

/*--se usa secc. nosotros--*/
@-webkit-keyframes color-banNosotros-2x {
  0% {
    background: #fff8f8;
  }
  100% {
    background: #fee0e0;
  }
}
@keyframes color-banNosotros-2x {
  0% {
    background: #fff8f8;
  }
  100% {
    background: #fee0e0;
  }
}

/*--se usa secc obrasoc--*/
@-webkit-keyframes color-change-2x {
  0% {
    background: #dfbbcb;
  }
  100% {
    background: #ce6196;
  }
}
@keyframes color-change-2x {
  0% {
    background: #dfbbcb;
  }
  100% {
    background: #ce6196;
  }
}

/*--se usa en form contacto--*/
@-webkit-keyframes pulsate-btnContacto {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-btnContacto {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*-----Se usa en los iconos del footer-------*/
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/*-----Se us en los videos de productos------*/
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/*----Se usa en los titulos-------*/
@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/*---Se usa en los productos---*/
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-15px);
    transform: scale(1.15) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.15) translateY(-15px);
    transform: scale(1.15) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/*# sourceMappingURL=main.css.map */