$sombreado:0 0 8px 0 rgba(0, 0, 0, .5);
$fuenteAzul: rgb(24, 33, 99);
$borde: 20px;


@import"./parciales/footerYheader";
@import "./parciales/principal";
@import "./parciales/productos";
@import "./parciales/obrasoc";
@import "./parciales/nosotros";
@import "./parciales/contacto";


body {
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    @include tablet {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;

    }

    @include movil {
        overflow-x: hidden;
    }

    main {
        background-color: rgb(249, 233, 233);
        border-bottom: tomato 1px solid;     
        padding: 0 40px;

        @include tablet {
            overflow-x: hidden;
            overflow-y: hidden;
            
            padding: 0 20px;
        }

        @include movil {
            overflow-x: hidden;
            overflow-y: hidden;
         
            padding: 0 10px;

        }
    }

    h1 {
        text-align: center;
        text-decoration: underline rgba(250, 144, 125, 0.605) solid 3px;
        ;
        padding-top: 20px;
        font-family: 'Overlock', cursive;
        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

        @include tablet {
            font-size: 2.5rem;
            animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
    }

    h2 {
        color: $fuenteAzul;
        padding: 5px 0;

        @include tablet {
            font-size: 2rem;
            font-weight: bold;
        }

        @include movil {
            font-size: 1.8rem;
            font-weight: bold;
        }

    }

    h3 {
        color: $fuenteAzul;
        padding: 5px 0;

        @include tablet {
            font-size: 2rem;
            text-decoration: underline;
        }
    }

    h4,
    h5 {
        color: $fuenteAzul;
        padding: 5px 0;
    }

    p {
        color: rgb(67, 77, 23);
        padding: 10px 0;
        font-size: 1.1rem;

        @include tablet {
            font-size: 1.3rem;
        }

        @include movil {
            font-size: 1rem;
        }
    }

    ul {
        color: $fuenteAzul;
        font-weight: bold;
        padding-left: 30px;

        @include tablet {
            font-size: 1.3rem;
        }
        @include movil {
            font-size: 1rem;
        }
    }
}

/*------------KEYFRAMES--------------------*/

/*--se usa secc principal--*/
@keyframes color-cambio-2x {
    0% {
        background: #f7d3e3;
    }

    100% {
        background: #e39999;
    }
}

/*--se usa secc. nosotros--*/
@keyframes color-banNosotros-2x {
    0% {
        background: #fff8f8;
    }

    100% {
        background: #fee0e0;
    }

}

/*--se usa secc obrasoc--*/
@keyframes color-change-2x {
    0% {
        background: #dfbbcb;
    }

    100% {
        background: #ce6196;
    }
}


/*--se usa en form contacto--*/
@keyframes pulsate-btnContacto {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*-----Se usa en los iconos del footer-------*/
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/*-----Se us en los videos de productos------*/
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

/*----Se usa en los titulos-------*/
@keyframes tracking-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px);
        transform: translateZ(-700px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

/*---Se usa en los productos---*/

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.15) translateY(-15px);
        transform: scale(1.15) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}