@import "mediaqueries";
$ancho: 1400px;


.contacto {

    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px ;

    @include tablet {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    @include movil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }


    &__form {
        height: 100%;
        padding: 10px;
        box-shadow: $sombreado;
        color: rgb(22, 22, 143);
        font-weight: bold;
        width: $ancho/1.5;
        margin: 10px;
        border-radius: $borde/4;

        @include tablet {

            width: 100%;
            height: 100%;
            font-size: 1.3rem;
            text-align: center;

        }

        @include movil {
            font-size: 1rem;
            margin: 0;
            text-align: center;
        }
    }


    .btForm {

        margin: 10px 80px;
        height: 30px;
        align-items: center;

        @include laptop{
            margin-left: 350px;
        }

        @include tablet {
            margin: 10px 0 10px 200px;
            height: 50px;
            font-size: 1.2rem;
        }

        @include movil {
            margin: 10px 0 10px 80px;
            height: 40px;
            font-size: 1rem;
        }

        &:hover {
            cursor: pointer;
            font-weight: bolder;
            font-size: 1rem;
            animation: pulsate-btnContacto 0.8s ease-in-out infinite both;
        }
    }

    &__imagen {
        margin-left: 10px;
        width: 100%;
        height: 25vh;
        box-shadow: $sombreado;
        border-radius: 10px;


        @include tablet {
            display: none;

        }


        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            opacity: 0.75;
        }
    }

    &__ubicacion {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        box-shadow: $sombreado;
        border-radius: $borde/2;
        margin-top: 10px;
        width: $ancho/1.5;
        height: 100%;
        padding: 10px;


        @include tablet {
            height: 100%;
            margin: 20px 0;
            width: 100%;
        }

        @include movil {
            margin: 20px 0;
        }


        h2 {
            text-align: center;
        }


        &--cont {
            display: flex;
            justify-content: flex-start;
            margin: 5px;
            

            @include movil {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            p {
                text-align: center;
                margin-top: 80px;
                font-weight: 800;
                color: rgb(22, 22, 143);
                text-shadow: 4px -1px 11px rgba(222, 11, 11, 0.27);
                padding-right: 20px;

                @include movil {
                    margin-top: 0;
                    font-size: 1rem;
                    text-align: center;
                }

            }

            iframe {
                box-shadow: $sombreado;
                margin-left: 10px;

                @include movil {
                    width: 100%;
                    margin:0 ;
                }
            }
        }
    }

}