@import "mediaqueries";
$sombreado:0 0 8px 0 rgba(0, 0, 0, .5);
$fuenteAzul: rgb(24, 33, 99);
$borde: 20px;
$fuentePrincipal:'Play',
sans-serif;


/*----------HEADER--------*/
header {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(247, 143, 119, 0.6),
            rgba(29, 241, 171, .6),
            rgba(7, 109, 150, .45)), url(../media/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: tomato 1px solid;
}

.navegador {
    background: transparent;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.navbar-brand {
    img {
        height: 5rem;

        @include tablet {
            height: 8rem;
        }

        @include movil {
            height: 6rem;
        }
    }

    &:hover {
        transform: rotateZ(5deg);
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(24, 33, 99);

    &:hover {
        color: aqua;
        transform: translate(5px, 5px);
    }
}

.barraMenu {
    background-color: rgba(220, 136, 144, 0.571);
    border-radius: 1rem;
    box-shadow: $sombreado;

    li {
        position: relative;

        a {
            display: flex;
            text-decoration: none;
            width: 10rem;
        }

        .nav-link {
            @include tablet {
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
                padding-bottom: 10px;
            }

            @include movil {
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
        }
    }
}


.contenedor-slider {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    box-shadow: $sombreado;


}

.carousel-item {
    &__img {
        width: 90%;
        height: 30rem;
        object-fit: cover;
    }

    &__video{
        width: 90%;
        height: 30rem;
        object-fit: cover;

      
    }


}


/*------------FOOTER------------------*/
footer {
    background: linear-gradient(to bottom,
            rgba(188, 169, 140, 0.503),
            rgba(149, 247, 214, 0.475),
            rgba(32, 147, 193, 0.338)), url(../media/fondo.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 5px;
    height: 36vh;


    @include tablet {
        height: 40vh;
        padding-top: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: tomato 2px solid;
    }

    @include movil {
        height: 45vh;
        padding-top: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: tomato 2px solid;
    }
}

.grillaFooter {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"direc iconos sec";
    margin-left: 20px;


    @include tablet {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
   

    &__direc {
        grid-area: direc;
        display: flex;
        flex-direction: column;
        justify-content: center;

        i {
            font-size: 1.4rem;
            text-align: center;
            color: $fuenteAzul;

            @include tablet{
                font-size: 2rem;
            }
            p {
                color: rgb(225, 21, 21);
                font-family: 'Play', sans-serif;
                font-weight: bold;
                font-size: 1rem;
                @include tablet{
                    font-size: 1.5rem;
                }            
            }           
        }
    }

    &__iconos {
        grid-area: iconos;
        margin-left: 80px;

        @include movil{
                
            
            margin: 0 ;
        }

        img {
            height: 6rem;
            padding-left: 180px;

            @include tablet{
                height: 8rem;
                padding-left: 100px;
            }

            @include movil{
                
                height: 6rem;
                padding: 0 0 0 50px;
                margin: 20px 0 ;
            }

        }


        .socialMedia {
            display: flex;
            justify-content: center;
            align-items: flex-end;

            @include tablet{
                margin-right: 100px;
            }

            @include movil{
                margin-right: 50px;
            }
        

            &__socialIcono {
                margin-left: 20px;
                margin-bottom: 10px;
                width: 50px;
                height: 50px;
                border: 2px solid rgb(225, 21, 21);
                border-radius: $borde+10;
                color: rgb(242, 94, 94);
                animation: scale-in-center 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s 1 both;
        
                @include tablet{
                    width: 80px;
                height: 80px;
                border-radius: $borde+20;
                }
        
                @include movil{
                    width: 70px;
                height: 70px;
                border-radius: $borde+20;
                }
        
                &:hover {
                    background: rgb(201, 124, 124);
                    color: rgb(6, 6, 165);        
                }
        
                i {
                    font-size: 2rem;
                    line-height: 50px;
                    padding-left: 8px;

                    @include tablet {
                        font-size: 3.5rem;
                        line-height: 80px;
                    }                    
                    @include movil {
                        font-size: 2.6rem;
                        line-height: 65px;
                        padding-left: 12px;
                    }
                }        
            }                       
        }
                
        .text {
            text-align: center;
            @include movil {
                font-size: 1.5rem;;
            }        
        }

        .line {
            width: 100%;
            max-width: 800px;
            margin-left: 20px;
            height: 1px;
            background: tomato;
            box-shadow: $sombreado;
        
            @include tablet {
                width: 100%;
                max-width: 500px;
            }

            @include movil {
                width: 100%;
                max-width: 350px;
            }
        }

    }

    &__secciones {
        grid-area: sec;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        i {
            font-size: 1.4rem;
            margin-top: 15px;
            margin-left: 120px;
            color: $fuenteAzul;
        }

        a {
            color: rgb(225, 21, 21);
            font-weight: bold;
            margin-left: 10px;
            font-size: 1rem;
            font-family: 'Play', sans-serif;

            &:hover {
                color: $fuenteAzul;
                font-size: 1.1rem;
            }
        }
        @include tablet {
            display: none;
        }
    }
}
