@import "mediaqueries";
$sombreado:0 0 8px 0 rgba(0, 0, 0, .5);
$fuenteAzul: rgb(24, 33, 99);
$borde: 20px;


/*----------HEADER--------*/
header {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(247, 143, 119, 0.6),
            rgba(29, 241, 171, .6),
            rgba(7, 109, 150, .45)), url(../media/fondo3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-bottom: tomato 1px solid;
}

.navegador {
    background: transparent;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.navbar-brand {
    img {
        height: 5rem;

        @include tablet {
            height: 8rem;
        }

        @include movil {
            height: 6rem;
        }
    }

    &:hover {
        transform: rotateZ(5deg);
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(24, 33, 99);

    &:hover {
        color: aqua;
        transform: translate(5px, 5px);
    }
}

.barraMenu {
    background-color: rgba(220, 136, 144, 0.571);
    border-radius: 1rem;
    box-shadow: $sombreado;

    li {
        position: relative;

        a {
            display: flex;
            text-decoration: none;
            width: 10rem;
        }     

        .nav-link {
            @include tablet {
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                font-size: 2rem;
                padding-bottom: 10px;
            }

            @include movil {
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
        }
    }
}


.contenedor-slider {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    box-shadow: $sombreado;


}

.carousel-item {
    &__img {
        width: 90%;
        height: 30rem;
        object-fit: cover;
    }

   
}







/*------------FOOTER------------------*/
footer {
    background: linear-gradient(to bottom,
            rgba(188, 169, 140, 0.503),
            rgba(149, 247, 214, 0.475),
            rgba(32, 147, 193, 0.338)), url(../media/fondo.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 5px;
    height: 40vh;


    @include tablet {
        height: 40vh;
        padding-top: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: tomato 2px solid;
    }

    @include movil {
        height: 35vh;
        padding-top: 5px;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: tomato 2px solid;
    }


}

.grillaFooter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    gap: 5px 0px;
    justify-content: center;

    &__logo {
        display: flex;
        justify-content: center;

        img {
            height: 7rem;

            @include tablet {
                height: 60%;
                padding-right: 60px;
            }

            @include movil {
                height: 50%;
                padding-right: 60px;
            }
        }
    }

    &__socialMedia {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @include tablet {
            height: 160px;
            padding-bottom: 50px;


        }

        @include movil {
            height: 100px;
            padding-bottom: 50px;

        }


        &--socialIcono {
            margin-left: 20px;
            margin-bottom: 10px;
            width: 60px;
            height: 60px;
            border: 2px solid rgb(225, 21, 21);
            border-radius: $borde+10;
            text-align: center;
            color: rgb(242, 94, 94);
            animation: scale-in-center 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s 1 both;

            @include tablet {
                width: 100px;
                height: 100px;
                border: 2px solid rgb(225, 21, 21);
                border-radius: 45%;
                text-align: center;
                color: rgb(242, 94, 94);
                animation: scale-in-center 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s 1 both

            }

            @include movil {
                width: 80px;
                height: 80px;
            }

            &:hover {
                background: rgb(201, 124, 124);
                color: rgb(6, 6, 165);
                transform: translate(5px, 5px);
            }

            i {
                font-size: 2.5rem;
                line-height: 55px;

                @include tablet {
                    font-size: 4rem;
                    line-height: 100px;
                }

                @include movil {
                    font-size: 3rem;
                    line-height: 80px;
                }
            }
        }
    }

    &__text {
        text-align: center;
    }

    &__line {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        height: 1px;
        background: tomato;
        box-shadow: $sombreado;

        @include tablet {
            width: 100%;
            max-width: 600px;
        }
    }
}