@import "mediaqueries";

$sombreado:0 0 8px 0 rgba(0, 0, 0, .5);
$fuenteAzul: rgb(24, 33, 99);
$borde: 20px;



.banner {
    margin: 20px 0;
    border-radius: $borde/4;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: $sombreado;
    animation: color-banNosotros-2x 1s linear infinite alternate both;

    @include movil {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    img {
        height: 80px;

        @include movil {
            width: 50%;
            object-fit: contain;
            align-self: center;
        }
    }

    &__text {
        font-weight: bold;
        margin-right: 30px;
        padding: 40px 20px 0 10px;

        @include movil {
            font-size: 1rem;
            font-weight: bold;
            padding: 10px;
            text-align: center;

        }
    }

    .borde {
        border-right: rgba(250, 144, 125, 0.448) solid 3px;

        @include movil {
            padding: 10px;
            margin: 0;
        }


    }
}

.muestrario {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;


    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__img {
        grid-area: 1 / 1 / 2 / 2;
    }

    &__text {
        grid-area: 1 / 2 / 2 / 3;
    }

    &__img2 {
        grid-area: 1 / 3 / 2 / 4;
        margin-top: 50px;
    }

    &__img3 {
        grid-area: 2 / 1 / 3 / 2;

        @include tablet {
            display: none;
        }
    }

    &__text2 {
        grid-area: 2 / 2 / 3 / 3;
    }

    &__img4 {
        grid-area: 2 / 3 / 3 / 4;
        margin-top: 50px;
    }

    &__img,
    &__img2,
    &__img3,
    &__img4 {
        width: 400px;
        box-shadow: $sombreado;
        height: 400px;

        @include tablet {
            height: 300px;
            width: 200px;
            margin: 0;
        }

        @include movil {
            height: 200px;
            width: 150px;
        }

    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__text {
        text-align: center;
        padding-top: 80px;

        @include tablet {
            padding-top: 5px;
        }

        p {
            font-size: 1.3rem;
    
            @include tablet {
                font-size: 1.1rem;
            }
        }
    
        ul {
            font-size: 1.3rem;
            list-style: none;
    
            @include tablet {
                font-size: 1.1rem;
            }
        }

       
    }
   
    

}