@import "mediaqueries";
/*-------------SECCION OBRAS SOCIALES--------*/


.tablaObrasoc {

    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    margin-bottom: 20px;
    border-radius: 5px;

    ul {
        list-style: none;

        li {
            color: rgb(81, 111, 21);
            font-weight: bold;
            font-style: italic;

            @include tablet {
                font-size: 1.2rem;
            }
        }
    }

    td {
        border: 1px solid #000000;
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }

    &__cabecera {

        td {

            border-width: 0px 0px 0px 0px;
            text-align: center;
            font-size: 14px;
            font-family: Arial;
            font-weight: bold;
            color: #ffffff;
            animation: color-change-2x 2s linear infinite alternate both;
            @include tablet{
                font-size: 1.3rem;
            }
        }


    }


    &__fila {
        background-color: white;

        td {
            color: $fuenteAzul;
            font-weight: bold;
            @include tablet{
                font-size: 1.3rem;
            }
        }
    }

    &__filaAlt {
        background-color: rgba(74, 130, 215, 0.201);

        td {
            color: rgb(79, 6, 147);
            font-weight: bold;
            @include tablet{
                font-size: 1.3rem;
            }
        }
    }
}


.contenedor_obrasoc {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    @include tablet {
        margin-bottom: 20px;
    }

    @include movil {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    img {
        width: 200px;
        padding-right: 20px;

        @include movil {
            height: 60px;
        }
    }
}