@import "mediaqueries";
/*-------------SECCION OBRAS SOCIALES--------*/
/* 
.tObrasoc {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 4fr 4fr 4fr;
    margin-bottom: 10px;
    padding: 0 5px;

    &__header {
        background-color: rgba(16, 5, 50, 0.646);
        color: rgba(253, 255, 253, 0.831);
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        animation: color-change-2x 2s linear infinite alternate both;
    }

    &__tabla {
        padding: 5px 0px;
        font-weight: 400;
        color: $fuenteAzul;
        font-weight: bold;
    }

    &__alt {
        background-color: rgba(135, 170, 222, 0.201);
        color: rgb(22, 22, 143);
        font-weight: bold;
        padding: 5px 0px;
    }

    ul {
        list-style: none;

        li {
            color: rgb(81, 111, 21);
            font-weight: bold;
            font-style: italic;

            @include movil {
                font-size: 1.1rem;
            }
        }


    }
} */

.contenedor_obrasoc {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    @include tablet{
        margin-bottom: 20px;
    }

    @include movil{
        margin-bottom: 10px;
        margin-left: 10px;
    }

    img {
        width: 200px;
        padding-right: 20px;

        @include movil{
            height: 60px;
        }
    }
}