@import "mediaqueries";
/*-------------SECCION OBRAS SOCIALES--------*/


.tablaObrasoc {

    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    margin-bottom: 20px;
    border-radius: 5px;

    @include movil {
        width: 100%;
        box-shadow: none;
    }

    ul {
        list-style: none;

        @include movil {            
            padding: 0;
        }

        li {
            color: rgb(152, 4, 105);
            font-weight: bold;
            font-style: italic;

            @include tablet {
                font-size: 1.2rem;
            }

            @include movil {
                font-size: 1rem;
            }
        }
    }

    td {
        border: 1px solid #000000;
        text-align: center;
        padding: 10px;
        font-size: 1rem;

        @include movil {
            padding-right: 5px;
            margin: 0;
            border: 1px solid black;
            font-size: 0.5rem;
        }
    }

    &__cabecera {

        td {

            border-width: 0px 0px 0px 0px;
            text-align: center;
            font-size: 14px;
            font-family: Arial;
            font-weight: bold;
            color: #ffffff;
            animation: color-change-2x 2s linear infinite alternate both;

            @include tablet {
                font-size: 1.3rem;
            }
            @include movil {
                font-size: 1rem;
            }
        }
    }


    &__fila {
        background-color: white;

        @include movil {
            width: 50px;
        }

        td {
            color: $fuenteAzul;
            font-weight: bold;
            @include tablet {
                font-size: 1.3rem;
            }
            @include movil {
                font-size: 1rem;
            }
        }
    }

    &__filaAlt {
        background-color: rgba(74, 130, 215, 0.201);

        td {
            color: rgb(79, 6, 147);
            font-weight: bold;
            @include tablet {
                font-size: 1.3rem;
            }
            @include movil {
                font-size: 1rem;
            }
        }
    }
}


.contenedor_obrasoc {
    margin: 30px 0;
    display: flex;
    justify-content: center;

    @include laptop  {
        display: flex;
        flex-wrap: wrap;
    }
/* 
    @include movil {
        display: flex;
        flex-wrap: wrap;

    } */

    img {
        width: 200px;
        padding-right: 20px;
        object-fit: contain;

        @include tablet{
            margin-bottom: 10px;
        }

        @include movil {
            width: 130px;
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
}
