@import "mediaqueries";

/*-----------PRINCIPAL-----------*/





.grilla {
    display: grid;
    grid-template-columns: 1.3fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas: ". .";
    padding: 20px;

    p {
        @include movil {
            text-align: center;
            width: 100%;
        }
    }

    @include tablet {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include movil {       
        padding: 0;
        margin: 0;
        width: 100%;

    }



    &__catalogoPrin {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        @include movil {
            display: flex;           
            flex-direction: column;           
            flex-wrap: wrap;           
            align-items: flex-start;           
            align-content: flex-start;

        }

        &--img {

            border-radius: $borde+30;
            margin-right: 30px;
            height: 200px;
            margin-bottom: 50px;
            box-shadow: 1px 2px 10px 1px rgba(242, 161, 161, 0.89);

            @include movil{
               width: 100%;
               border-radius: $borde;
            }
           
        }
    }

    &__banner {

        border-radius: $borde/2;
        margin: 5px;
        padding-top: 180px;
        height: 600px;
        box-shadow: $sombreado;
        animation: color-cambio-2x 2s linear infinite alternate both;

        @include tablet {

            margin: 5px;
            padding-top: 100px;
            height: 350px;
            width: 100%;
        }

        @include movil {
            align-self: center;
            height: 450px;
            width: 100%;
        }


        &--titulo {
            font-weight: bold;
            text-align: center;
        }

        &--text {
            font-weight: bold;
            text-align: center;
        }

        &--img {
            height: 70px;
            padding: 5px;

            @include tablet {
                height: 5rem;
                padding-left: 2.5rem;
            }

            @include movil {
                display: flex;
                align-items: center;
                height: 4rem;

            }
        }
    }
}

.marcas {
    margin-bottom: 10px;

    @include tablet {
        margin-bottom: 30px;
    }

    @include movil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__img {
        width: 10rem;
        margin-left: 250px;

        @include movil {
            width: 8rem;
            margin-left: 5rem;
        }

    }

    &__text {
        text-align: center;
        font-size: 1.5rem;
        color: black;
        font-style: italic;

        @include tablet {
            font-size: 1.3rem;
        }
    }
}