@import "mediaqueries";

/*--------------SECCION PRODUCTOS--------*/



.btn {
    margin-left: 250px;

    @include tablet {
        font-size: 1.8rem;
        margin-left: 80px;
    }

    @include movil {
        font-size: 1.5rem;
    }
}


#btnradio2:checked~.galeria>.lentesSol {
    display: none;
}

#btnradio3:checked~.galeria>.lentes {
    display: none;
}



.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    &__contVideo {
        padding: 10px 0;
        margin-left: 120px;

        @include movil {
            margin-left: 10px;
        }

        &--video {
            padding-right: 50px;
            height: 320px;
            animation: fade-in-fwd 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;


            @include movil {
                height: 13rem;

            }
        }
    }

}

.lentes {
    width: 320px;
    box-shadow: $sombreado;
    height: 300px;
    margin-bottom: 60px;

    &:hover {
        z-index: 1;
        animation: kenburns-top 3s ease-out both;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h5 {
        text-align: center;
        box-shadow: $sombreado;
        background-color: rgb(254, 206, 211);
    }
}

.lentesSol {
    width: 320px;
    box-shadow: $sombreado;
    height: 300px;
    margin-bottom: 60px;

    &:hover {
        z-index: 1;
        animation: kenburns-top 3s ease-out both;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;


    }

    h5 {
        text-align: center;
        box-shadow: $sombreado;
        background-color: rgb(254, 206, 211);

    }
}