@import "mediaqueries";

/*--------------SECCION PRODUCTOS--------*/



    input{
        margin-left: 300px;
        margin-bottom: 30px;
    }

    label {
        border:chocolate solid 1px;
        background-color: coral;
    }


    #lentes:checked ~ .galeria>.lentesSol{
        display: none;
    }
    
    #lentessol:checked ~ .galeria>.lentes{
        display: none;
    }




.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.lentes{
    width: 380px;
        box-shadow: $sombreado;
        height: 300px;
        margin-bottom: 60px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h5 {
            box-shadow: $sombreado;
        }
}

.lentesSol{
    width: 380px;
        box-shadow: $sombreado;
        height: 300px;
        margin-bottom: 60px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h5 {
            box-shadow: $sombreado;
        }
}


/* 
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   

    &__contImag {

        width: 380px;
        box-shadow: $sombreado;
        height: 300px;
        margin-bottom: 60px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        h5 {
            box-shadow: $sombreado;
        }
    }

    &__contVideo {
        padding: 10px 0;

        &--video {
            padding-right: 50px;
            height: 320px;

            @include tablet {

                margin-left: 5rem;

            }

            @include movil{
                height: 13rem;
                margin-right: 2rem;
            }
        }


    }
} */